* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(29, 29, 29);
    color: white;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: grid;
    height: 100vh;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    color: white;

}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
}

.my-work {
    font-size: 2vw;
    border: 2px solid rgb(255, 88, 88);
    padding: 3px;
}

.my-work::after {
    content: url(./favicon_io/favicon-16x16.png);
}

.my-work {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    font-family: 'Mooli', sans-serif;
    display: flex;
    flex-direction: row;
    height: 50px;
    position: sticky;
    top: 0px;
    background-color: rgb(56, 56, 56);
    color: white;
    /*justify-content: space-around;*/

}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(56, 56, 56);

    transition-property: all;
    transition-duration: 0.5s;
}

.nav a:hover {
    color: rgb(255, 88, 88);
    border: 1px solid rgb(255, 88, 88);
    border-radius: 10px;
}

.nav .home {
    background-color: rgb(255, 88, 88);
    color: black;

}

.nav .home:hover {
    color: black;
    border: 1px solid white;
}

.body {
    display: grid;
    grid-template-rows: 100vh 100vh 100vh;
}